.gradle/2.4/taskArtifacts/cache.properties
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/appcompat_v7_22_1_1.xml
.idea/libraries/gson_2_3_1.xml
.idea/libraries/library_1_0_19.xml
.idea/libraries/play_services_7_3_0.xml
.idea/libraries/play_services_ads_7_3_0.xml
.idea/libraries/play_services_analytics_7_3_0.xml
.idea/libraries/play_services_appindexing_7_3_0.xml
.idea/libraries/play_services_appinvite_7_3_0.xml
.idea/libraries/play_services_appstate_7_3_0.xml
.idea/libraries/play_services_base_7_3_0.xml
.idea/libraries/play_services_cast_7_3_0.xml
.idea/libraries/play_services_drive_7_3_0.xml
.idea/libraries/play_services_fitness_7_3_0.xml
.idea/libraries/play_services_games_7_3_0.xml
.idea/libraries/play_services_gcm_7_3_0.xml
.idea/libraries/play_services_identity_7_3_0.xml
.idea/libraries/play_services_location_7_3_0.xml
.idea/libraries/play_services_maps_7_3_0.xml
.idea/libraries/play_services_nearby_7_3_0.xml
.idea/libraries/play_services_panorama_7_3_0.xml
.idea/libraries/play_services_plus_7_3_0.xml
.idea/libraries/play_services_safetynet_7_3_0.xml
.idea/libraries/play_services_wallet_7_3_0.xml
.idea/libraries/play_services_wearable_7_3_0.xml
.idea/libraries/recyclerview_v7_22_1_1.xml
.idea/libraries/support_annotations_22_1_1.xml
.idea/libraries/support_v4_22_1_1.xml
build/intermediates/gradle_project_sync_data.bin
build/intermediates/dex-cache/cache.xml
gradle/wrapper/gradle-wrapper.properties
